.worksheets-index[data-v-0a7f4649]{min-height:100vh;padding:2rem;background-color:var(--p-surface-100);color:var(--p-surface-900)}.p-dark .worksheets-index[data-v-0a7f4649]{background-color:var(--p-surface-900);color:var(--p-surface-0)}
